{% macro legend_values() %}
<!-- Легенда значений -->
<div class="legend-container">
    <h2>Легенда значений</h2>
    <div class="legend-grid">
        <div class="legend-item">
            <div class="legend-color red"></div>
            Б - Больничный
        </div>
        <div class="legend-item">
            <div class="legend-color blue"></div>
            О - Отпуск
        </div>
        <div class="legend-item">
            <div class="legend-color green"></div>
            1 - Рабочий день
        </div>
        <div class="legend-item">
            <div class="legend-color amber"></div>
            ПС - Простой предприятия
        </div>
        <div class="legend-item">
            <div class="legend-color purple"></div>
            ДО - Декретный отпуск
        </div>
        <div class="legend-item">
            <div class="legend-color indigo"></div>
            БД - Бесплатный день
        </div>
        <div class="legend-item">
            <div class="legend-color cyan"></div>
            Г - Служит
        </div>
        <div class="legend-item">
            <div class="legend-color yellow"></div>
            В - Выходной
        </div>
        <div class="legend-item">
            <div class="legend-color gray"></div>
            - - Не работает
        </div>
    </div>
</div>
{% endmacro %}