{% macro legend_values() %}
<!-- Легенда значений -->
<div class="legend-container">
    <h2>Легенда значений</h2>
    <div class="legend-grid">
        <div class="legend-item">
            <div class="legend-color red"></div>
            Б - Больничный
        </div>
        <div class="legend-item">
            <div class="legend-color blue"></div>
            О - Отпуск
        </div>
        <div class="legend-item">
            <div class="legend-color green"></div>
            1 - Рабочий день
        </div>
        <div class="legend-item">
            <div class="legend-color amber"></div>
            ПС - Простой предприятия
        </div>
        <div class="legend-item">
            <div class="legend-color purple"></div>
            ДО - Декретный отпуск
        </div>
        <div class="legend-item">
            <div class="legend-color indigo"></div>
            БД - Бесплатный день
        </div>
        <div class="legend-item">
            <div class="legend-color cyan"></div>
            Г - Служит
        </div>
        <div class="legend-item">
            <div class="legend-color yellow"></div>
            В - Выходной
        </div>
        <div class="legend-item">
            <div class="legend-color gray"></div>
            - - Не работает
        </div>
    </div>
</div>
{% endmacro %}


{% macro main_table() %}
<!-- Главная таблица 31 день -->
<div class="table-report-card">
    <table>
        <thead>
        <tr>
            <th>Наименование КСП</th>
            <th>Профессия</th>
            <th>Статус</th>
            <th>Таб №</th>
            <th>Ф.И.О.</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>22</th>
            <th>23</th>
            <th>24</th>
            <th>25</th>
            <th>26</th>
            <th>27</th>
            <th>28</th>
            <th>29</th>
            <th>30</th>
            <th>31</th>
        </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>
{% endmacro %}