<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HR-бот{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- Единое меню для всех страниц -->

<header class="main-header">
    <div class="header-container">
        <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
        <label for="burger-checkbox" class="burger"></label>
        <div class="overlay"></div>
        <ul class="menu-list">
            <li><a href="/" class="menu-item">🏠 На главную</a></li>
            <li><a href="/personal_business" class="menu-item">Формирование личного дела</a></li>
            <li><a href="/list_employees" class="menu-item">Список сотрудников</a></li>
            <li><a href="/calendar_2025" class="menu-item">Календарь 2025</a></li>

            Формирование графика по сотруднику:

            <li><a href="/forming_employee_report_card" class="menu-item">Ноябрь 2025</a></li>
            <li><a href="/forming_employee_report_card_12" class="menu-item">Декабрь 2025</a></li>

            График работы сотрудников:

            <li><a href="/report_card_10" class="menu-item">Октябрь 2025</a></li>
            <li><a href="/report_card_11" class="menu-item">Ноябрь 2025</a></li>
            <li><a href="/report_card_12" class="menu-item">Декабрь 2025</a></li>

            Администрирование:

            <li><a href="/admin" class="menu-item">Админ-панель</a></li>
        </ul>
    </div>
</header>

<!-- Контент конкретной страницы -->
<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Общие скрипты (если понадобятся) -->
{% block scripts %}{% endblock %}
</body>
</html>