{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold mb-6 text-center">Главная страница</h1>


<h2>Формирование графика по сотруднику:</h2>

<div class="buttons-container">
    <a href="/forming_employee_report_card" class="btn">Ноябрь 2025</a>
    <a href="/forming_employee_report_card_12" class="btn">Декабрь 2025</a>
</div>

<h2>График работы сотрудников</h2>

<div class="buttons-container">
    <a href="/report_card_10" class="btn">Октябрь 2025</a>
    <a href="/report_card_11" class="btn">Ноябрь 2025</a>
    <a href="/report_card_12" class="btn">Декабрь 2025</a>
</div>

{% endblock %}